body {
  background-color: lightblue;
  margin-left: 20px;
}

h1 {
  color: rgb(4, 4, 26);
  margin-left: 10px;
}
h3{
  color: aqua;
}
h2,

h4,

h6
 {
  color: rgb(60, 199, 67);
  margin: 20px;
}
h5{
  color: navy;
  
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 10px;
}
#home {
  height:500px;
  width:800px;
  background:url(4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  /* padding: 60px 0 60px 0; */
  width: 100%;
  height: 100vh;
  
  opacity: 0.7;
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-color: rgb(24, 61, 73);
}


#def{
  width: 150px;
  height: 120px;
  
  font-weight: italic;
  position: relative;
  
  animation: mymove 5s infinite;
}
#def {animation-timing-function: ease;}
@keyframes mymove {
  from {left: 0px;}
  to {left: 1000px;}
}
#about {
 
  color: rgb(211, 19, 19);
  padding: 60px 0 40px 0;
}
 
#skill {
 
  
  margin: 10px;
}
  #abc{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 10px;
  }
  


#certificate {
 
  
  margin: 10px;
  
}
.contact-info{
  background-color: honeydew;
 
  border-bottom: lightblue solid 19px;
}